# Entornos virtuales
venv/
.venv/
env/
*.env
# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Bases de datos locales
*.db
*.sqlite3
db.sqlite3


.vscode/

# RAG vector database
rag/vector_db/
